<settings>
    <category label="General">
        <setting id="Site URL" type="text" label="Site URL" default="fs.to"/>
        <setting id="Proxy URL" type="text" label="Proxy URL"/>
        <setting id="Download Path" type="folder" label="Download Path"/>
        <setting id="Sort by" type="enum" label="30001" default="2" values="Latest activity|Rating|Year|Popularity|Trending"/>
        <setting id="Show hidden materials" type="bool" label="Show hidden materials" default="false"/>
        <setting id="Autoplay next" type="bool" label="30004" default="false"/>
        <setting id="Load main page items" type="bool" label="Load main page items" default="true"/>
        <!--<setting id="Use flv files for playback" type="bool" label="30005" default="false"/>-->
        <setting id="Show progress" type="bool" label="Show progress" default="false"/>
        <setting type="sep"/>
        <setting id="Login" type="text" label="30002"/>
        <setting id="Password" type="text" label="30003" option="hidden"/>
        <setting id="logout" type="action" label="Logout" action="RunPlugin(plugin://plugin.video.fs.ua/?mode=logout)"/>
    </category>
    <category label="Video filters">
        <setting id="mood" type="labelenum" label="Mood" default="Any" values="Any|comedy|horror|action|soul"/>
        <setting id="vproduction" type="labelenum" label="Production" default="Any" values="Any|our|foreign"/>
        <setting id="quality" type="labelenum" label="Quality" default="Any" values="Any|hight|good|middle"/>
        <setting id="translation" type="labelenum" label="Translation" default="Any"
                 values="Any|proffesional|amateur|double"/>
    </category>
    <category label="Audio filters">
        <setting id="genre" type="labelenum" label="Genre" default="Any" values="Any|pop|hard|dance|soul"/>
        <setting id="aproduction" type="labelenum" label="Production" default="Any" values="Any|our|foreign"/>
    </category>
    <category label="INFO">
        <setting id="USE_Ext_Info" type="bool" label="70001" default="true"/>
        <setting type="sep" visible="true" />
        <setting id="USE_Ext_Info_Plot" type="bool" label="70002" default="true" enable="eq(-2,true)" visible="eq(-2,true)"/>
        <setting id="USE_Ext_Info_Fanart" type="bool" label="70003" default="true" enable="eq(-3,true)" visible="eq(-3,true)"/>
        <setting id="USE_Ext_Info_Country" type="bool" label="70004" default="false" enable="eq(-4,true)" visible="eq(-4,true)"/>
        <setting id="USE_Ext_Info_Full_Cast" type="bool" label="70005" default="false" enable="eq(-5,true)" visible="eq(-5,true)"/>
        <setting type="sep" visible="true" />
        <setting id="ADD_Country_To_Title" type="bool" label="70006" default="true"/>
        <setting id="ADD_Rank_To_Title" type="bool" label="70007" default="true"/>
        <setting id="USE_Rank_Pos" type="labelenum" label="70008" default="0" lvalues="70019|70020" enable="eq(-1,true)"/>
        <setting id="ADD_OriginalTitle_To_Plot" type="bool" label="70009" default="true" enable="eq(-10,true)"/>
        <setting id="ADD_Year_To_Plot" type="bool" label="70010" default="true"/>
        <setting id="ADD_Genre_To_Plot" type="bool" label="70011" enable="eq(-12,true)" default="true"/>
        <setting id="ADD_Director_To_Plot" type="bool" label="70012" default="true" enable="eq(-13,true)"/>
        <setting id="ADD_Cast_To_Plot" type="bool" label="70013" default="true"/>
        <setting id="USE_Cast_Max" type="labelenum" label="70014" default="5" enable="eq(-1,true)" values="All|1|2|3|4|5|6|7|8|9|10"/>
        <setting type="sep" visible="true" />
        <setting id="HL_COOLOR" type="text" label="70015" default="darkgrey"/>
        <setting id="OT_COOLOR" type="text" label="70016" default="darkred" enable="eq(-8,true)+eq(-18,true)"/>
        <setting id="RA_COOLOR" type="text" label="70017" default="white" enable="eq(-11,true)"/>
    </category>
</settings>
