<settings>
    <setting id="Title Mode" type="enum" label="30001" default="1" values="Ru/En|Ru"/>
    <setting id="Hide Scr" type="bool" label="30003" default="false"/>
    <setting id="Hide TSound" type="bool" label="30004" default="false"/>
    <setting id="Engine" type="enum" label="30005" default="1" values="TSengine API|XBMC-TS(path)|Libtorrents|Torrenter"/>
    <setting id="SortName" type="enum" label="30006" default="1" values="Original|Russian"/>
    <setting id="View Mode" type="enum" label="30007" default="0" values="Default|Confluence list|Confluence icons|Confluence info2|Confluence info|Confluence coverflow|Confluence fanart|MD3.HD info|MD3.HD fanart|MD3.HD coverflow|MD3.HD list|MD3.HD icons|Transperency list|Transperency info|Transperency icons"/>
    <setting id="DownloadDirectory" type="folder" label="30008" default=""/>
    <setting id="TorrentInfo" type="enum" label="30009" default="0" values="First|All"/>
</settings>
