<?xml version = "1.0" encoding = "utf-8" standalone = "yes"?>
<settings>
  <category label = "Основные">
    <setting id = "ipp" type = "enum" label = "Объем списка элементов" values = "10|20|30" default = "1"/>
    <setting id = "use_translit" type = "bool" label = "Использовать translit при поиске" default = "false"/>
    <setting id = "unified_search" type = "bool" label = "Включить поиск из UnifiedSearch" default = "true"/>
    <setting id = "use_ahds" type = "bool" label = "Использовать Adobe HDS видео формат" default = "false"/>
    <setting id = "debug_mode" type = "bool" label = "Выводить отладочную информацию" default = "false"/>
  </category>
  <category label = "Авторизация">
    <setting label = "ВКонтакте" type = "lsep"/>
    <setting id = "vk_email" type = "text" label = "Логин" default = ""/> 
    <setting id = "vk_pass" type = "text" label = "Пароль" option = "hidden" default = ""/> 
  </category>
</settings>
