<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<setting
		id      = "use_wmv"
		type    = "bool"
		label   = "Использовать wmv-файл (если имеется)"
		default = "false"
	/>
	<setting
		id      = "quality"
		type    = "enum"
		values  = "Низкое|Нормальное|Высокое"
		label   = "Предпочитаемое качество видео"
		default = "1"
	/>
</settings>
