<?xml version="1.0" encoding="utf-8" standalone="yes"?>  
<settings>        <!-- General -->    
	<setting label="30651" type="lsep"/> 
	<setting id="Kodik.Biz" type="bool"  label="Показывать Kodik.Biz"    default="false"/>   	
	<setting label="30651" type="lsep"/> 
	<setting id="Node.JS_Path" type="file" label="Путь к Node.JS (для *nix)" default=""/>	
	<setting label="30651" type="lsep"/> 	  
</settings> 
