<?xml version="1.0" encoding="utf-8" standalone="yes"?>  
<settings>        <!-- General -->    	
	<setting label="30651" type="lsep"/> 
	<setting id="Login" type="text" label="Login" default=""/>	
	<setting label="30651" type="lsep"/> 
	<setting id="Password" type="text" label="Password" default=""/>    
</settings> 