<settings>
	<category label="Основные">
		<setting id="site_url" type="enum" label="Сайт" default="0" values="kinozal-tv.appspot.com|kinozal.tv"/>
		<setting id="login" type="text" label="Логин" default=""/>
		<setting id="password" type="text" option="hidden" label="Пароль" enable="!eq(-1,)" default=""/>
		<setting id="use_save_torr"  type="bool" label="Повторно использовать скачанные .torrent файлы" default="true"/>
		<setting id="delete_torrents" type="action" label="Очистить папку торрентов" action="RunPlugin(plugin://$ID/?func=torrkill)"/>
	</category>
	<category label="Прокси">
		<setting id="use_proxy"  type="bool" label="Использовать прокси" default="false"/>
		<setting id="proxy_host" type="text" label="Proxy Host" default="" visible="eq(-1,true)"/>
		<setting id="proxy_port" type="number" label="Proxy Port" visible="eq(-2,true)"/>
		<setting id="img_appspot" type="bool" label="Брать картинки с kinozal-tv.appspot.com" default="true" visible="eq(-3,true)"/>
		<setting id="use_proxy_auth"  type="bool" label="Прокси требует авторизации" default="false" visible="eq(-4,true)"/>
		<setting id="proxy_user" type="text" label="Proxy User" default="" visible="eq(-1,true)"/>
		<setting id="proxy_password" type="text" label="Proxy Password" default="" visible="eq(-2,true)" />
	</category>
</settings>
