<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="2050">
		<setting id="username" type="text" label="2000" default=""/>
		<setting id="password" type="text" option="hidden" label="2001" enable="!eq(-1,)" default=""/>
		<setting id="featured" type="bool" label="2015" default="true"/>
		<setting id="local" type="bool" label="2016" default="true"/>
		<setting id="locale" type="labelenum" label="2038" values="ar-SA|cs-CZ|da-DK|nl-NL|fi-FI|fr-FR|de-DE|el-GR|hi-IN|hu-HU|it-IT|ja-JP|ko-KR|pl-PL|pt-PT|ru-RU|zh-CN|es-ES|sv-SV|zh-TW|tr-TR|en-GB|en-US" default="en-GB"/>
		<setting id="latlon" type="text" label="2037" default=""/>
	</category>
	<category label="2051">
		<setting id="iconcolour" type="enum" label="2008" default="0" lvalues="2009|2010|2039"/>
		<setting id="recents" type="number" label="2011" default="5"/>
		<setting id="prompt" type="bool" label="2012" default="true"/>
		<setting id="fanart" type="bool" label="2017" default="true"/>
		<setting id="onlyfavourites" type="bool" label="2040" default="false"/>
	</category>
	<category label="2052">
		<setting id="enabledownloads" type="bool" label="2035" default="true"/>
		<setting id="downloadpath" type="folder" label="2014" default=""/>
		<setting id="downloadbackground" type="bool" label="2018" default="false"/>
	</category>
	<category label="2053">
		<setting id="format-aac" type="bool" label="2019" default="false"/>
		<setting id="format-am" type="bool" label="2024" default="false"/>
		<setting id="format-dab" type="bool" label="2025" default="false"/>
		<setting id="format-fm" type="bool" label="2026" default="false"/>
		<setting id="format-hd" type="bool" label="2027" default="false"/>
		<setting id="format-html" type="bool" label="2028" default="false"/>
		<setting id="format-mp3" type="bool" label="2020" default="true"/>
		<setting id="format-ogg" type="bool" label="2021" default="false"/>
		<setting id="format-qt" type="bool" label="2029" default="false"/>
		<setting id="format-real" type="bool" label="2022" default="false"/>
		<setting id="format-flash" type="bool" label="2030" default="false"/>
		<setting id="format-sat" type="bool" label="2031" default="false"/>
		<setting id="format-wma" type="bool" label="2023" default="true"/>
		<setting id="format-wmpro" type="bool" label="2032" default="true"/>
		<setting id="format-wmvideo" type="bool" label="2033" default="true"/>
		<setting id="format-wmvoice" type="bool" label="2034" default="true"/>
	</category>
	<category label="2054">
		<setting id="https" type="bool" label="2013" default="true"/>
		<setting id="cacheupdate" type="number" label="2036" default="24"/>
		<setting id="debuglevel" type="enum" label="2003" default="0" lvalues="2004|2005|2006|2007"/>
	</category>
</settings>
