<window>
	<defaultcontrol>301</defaultcontrol>
	<coordinates>
		<system>1</system>
		<posx>500</posx>
		<posy>175</posy>
	</coordinates>
	<controls>
		<control type="image" id="999">
			<description>background image</description>
			<posx>-</posx>
			<posy>-</posy>
			<width>270</width>
			<height>200</height>
			<texture border="20">ContextMenu.png</texture>
		</control>
		<control type="list" id="301">
      <posx>15</posx>
      <posy>30</posy>
      <width>260</width>
      <height>260</height>
      <visible>true</visible>
      <itemlayout width="260" height="40">
        <control type="image">
          <width>243</width>
          <height>33</height>
          <posx>0</posx>
          <posy>0</posy>
          <visible>true</visible>
          <texture>itemnofocus.png</texture>
        </control>
        <control type="label">
          <posx>5</posx>
          <posy>-3</posy>
          <width>260</width>
          <height>35</height>
          <font>fontContextMenu</font>
          <aligny>center</aligny>
          <selectedcolor>green</selectedcolor>
          <align>left</align>
          <info>ListItem.Label</info>
        </control>
      </itemlayout>
      <focusedlayout width="260" height="40">
        <control type="image">
          <width>235</width>
          <height>33</height>
          <posx>0</posx>
          <posy>0</posy>
          <visible>true</visible>
          <texture>itemfocus.png</texture>
        </control>
        <control type="label">
          <posx>5</posx>
          <posy>-3</posy>
          <width>260</width>
          <height>35</height>
          <font>fontContextMenu</font>
          <aligny>center</aligny>
          <scroll>true</scroll>
          <selectedcolor>green</selectedcolor>
          <align>left</align>
          <info>ListItem.Label</info>
        </control>
      </focusedlayout>
    </control>
	</controls>
</window>