<settings>
	<category label="Общие">
		<setting type="sep" />
		<setting default="NO" id="timeZone" label="Часовой пояс (UTC):" type="select" values="NO|-11|-10|-9|-8|-7|-6|-5|-4|-3|-2|-1|0|+1|+2|+3|+4|+5|+6|+7|+8|+9|+10|+11|+12" />
		<setting type="sep" />
		<setting default="true" id="autoSetupTV" label="Автонастройка каналов при запуске KODI:" type="bool" />
		<setting type="sep" />
		<setting default="true" id="autoSetupPVR" label="Автонастройка PVR IPTV Simple Client:" type="bool" />
		<setting type="sep" />
		<setting default="false" id="logo" label="Загрузить логотипы каналов:" type="bool" />
		<setting type="sep" />
		<setting id="codeNum" label="Код/Номер операции/транзакции:" type="text" />
		<setting type="sep" />		
		<setting type="lsep" label="ВНИМАНИЕ! После изменения настроек требуется перезагрузка KODI."/>
		<setting type="sep" />
	</category>
	<category label="Дополнительные">
		<setting type="sep" />
		<setting default="false" id="advanced" label="Создать новый advancedsettings.xml:" type="bool" />
		<setting type="sep" />
		<setting default="50" id="minBuff" label="Минимальный размер буфера:" range="5,5,100" type="slider" option="int"/>
		<setting type="sep" />
		<setting default="3" id="startEPG" label="Обновлять EPG по расписанию:" range="1,1,23" type="slider" option="int"/>
		<setting type="sep" />
		<setting default="10" id="noUDPXY" label="Не обновлять прокси длительностью:" range="0,1,60" type="slider" option="int"/>
		<setting type="sep" />
		<setting default="false" id="noListChannel" label="Не обновлять список каналов и групп:" type="bool" />
		<setting type="sep" />
		<setting type="lsep" label="ВНИМАНИЕ! После изменения настроек требуется перезагрузка KODI."/>
		<setting type="sep" />
	</category>
</settings>