<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="11000">
		<setting id="uid" type="text" label="11003" default="" />
		<setting id="pwd" type="text" label="11004" option="hidden" default="" />
		<setting id="separator" type="lsep" label=""/>
		<setting id="tsd" type="labelenum" values="0|1|2|3|4|8|9|10|11" label="11007" default="0" />
		<setting id="br" type="labelenum" values="low|high|hls" label="11006" default="high" />
		<setting id="dc" type="labelenum" values="Europe|Middle East|USA West|USA East" label="11008" default="Europe" />
	</category>
	<category label="11001">
		<setting id="view_mode" type="bool" label="11010" default="true"/>
		<setting id="view_epg" type="bool" label="11011" default="true"/>
		<setting id="view_date" type="bool" label="11012" default="true"/>
		<setting id="serial" type="text" label="serial" default="" visible="false" />
	</category>
</settings>