<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="30000">

    <setting id="sort_v" type="enum" label="30001" lvalues="30003|30004" default="new" />
	<setting id="cnt_v" type="enum" label="30002" values="10|25|50|75|100" default="50" />
	<setting id="adult" type="bool" label="30050" default="false" />
    <setting type="sep" />
  </category>
</settings>
