<settings>
    <category label="30101">
        <setting
            id      = "language"
            type    = "enum"
            values  = "English|Russian"
            label   = "30001"
            default = "0"
        />
    	<setting
    		id      = "lock_view"
    		type    = "bool"
    		label   = "30002"
    		default = "true"
    	/>
    	<setting
    		id      = "skin_optimization"
    		type    = "enum"
    		values  = "Confluence|Transperency"
    		label   = "30003"
    		default = "0"
            enable  = "eq(-1,true)"
    	/>
    	<setting
    		id      = "storage"
    		type    = "folder"
    		label   = "30004"
    		default = ""
    	/>
    </category>
    <category label="30102">
        <setting
            id      = "use_magnet_links"
            type    = "bool"
            label   = "30007"
            default = "true"
        />
        <setting
            id      = "keep_files"
            type    = "bool"
            label   = "30008"
            default = "true"
        />
        <setting
            id      = "keep_seeding"
            type    = "bool"
            label   = "30009"
            default = "true"
            enable  = "eq(-1,true)"
        />
        <setting
            id      = "upload_limit"
            type    = "number"
            label   = "30010"
            default = "0"
        />
        <setting
            id      = "download_limit"
            type    = "number"
            label   = "30011"
            default = "0"
        />
    </category>
</settings>
