<?xml version="1.0" encoding="utf-8" standalone="yes"?>  
<settings>        <!-- General -->    
	<setting label="30651" type="lsep"/> 
	<setting id="PhantomJS_Path" type="text" label="Путь к PhantomJS (для *nix)" default=""/>	
	<setting label="30651" type="lsep"/> 
	<setting id="External_PhantomJS" type="bool"  label="Использовать внешний сервис PhantomJS (для ATV2 & тп.)"    default="false"/> 
	<setting id="PhantomJS_IP" type="ipaddress" label="IP адрес внешнего сервиса PhantomJS" default="127.0.0.1"/>
	<setting id="PhantomJS_Port" type="number" label="Порт внешнего сервиса PhantomJS" default="88"/>
	<setting label="30651" type="lsep"/> 
	<setting id="continue_play" type="bool"  label="Играть все серии"    default="true"/>   	
	<setting label="30651" type="lsep"/> 
	<setting id="SWF_Path" type="text"  label="Путь к SWF декомпилеру"    default=""/>   	  
</settings> 