<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="firstrun" type="bool" label="" default="false" visible="false" />
    <category label="General">
        <setting label="General" type="lsep" />
        <setting id="dlpath" type="folder" label="Download Path" source="auto" option="writeable" />
        <setting id="keep_files" type="bool" label="Keep files after playback/download stops" default="false" />

        <setting label="Content" type="lsep"/>
        <setting id="immunicity" type="bool" label="Auto-unblocking via Immunicity" default="false" />
        <setting id="porn" type="bool" label="Adult Content" default="true" />

        <setting label="BitTorrent" type="lsep"/>
        <setting id="magnet_boost" label="Magnet Booster" type="bool" default="true" />
        <setting id="max_download_rate" label="Max Download Rate (kB/s)" type="number" default="" />
        <setting id="encryption" label="Encryption" type="enum" values="Forced|Enabled|Disabled" default="1" />

        <setting label="AceStream options" type="lsep" />
        <setting id="force_ace" label="Force using AceEngine" type="bool" default="false"/>
        <setting id="ace_keep_encripted" label="Keep encripted files" type="bool" default="false" enable="eq(-10,true)"/>
        <setting id="ace_host" label="AceEngine remote host" type="ipaddress" default="127.0.0.1"/>
        <setting id="ace_port" label="AceEngine remote port" type="number" default="62062"/>
    </category>
    <category label="Scrapers">
        <setting label="Enable Scrapers" type="lsep"/>
        <setting id="rutor_enabled" type="bool" label="RuTor.org" default="true" />
        <setting id="lostfilm_enabled" type="bool" label="LostFilm.tv" default="true" />
        <setting id="t3d_enabled" type="bool" label="Torrents3D.ru" default="true" />
        <setting id="eztv_enabled" type="bool" label="EZTV" default="true" />
        <setting id="yify_enabled" type="bool" label="YIFY Torrents" default="true" />
        <setting id="kickass_enabled" type="bool" label="Kickass Torrents" default="true" />
        <setting id="tpb_enabled" type="bool" label="The Pirate Bay" default="true" />
        <setting id="nyaa_enabled" type="bool" label="NyaaTorrents" default="true" />
        <setting id="bitsnoop_enabled" type="bool" label="BitSnoop" default="true" />
        <setting id="extratorrent_ebabled" type="bool" label="ExtraTorrent" default="true" />
        <setting id="btdigg_enabled" type="bool" label="BTDigg" default="true" />
        <setting id="rutracker_enabled" type="bool" label="RuTracker" default="true" />

        <setting label="RuTor.org" type="lsep"/>
        <setting id="rutor_usesearch" type="bool" label="Search movie info at internet" default="false" />

        <setting label="RuTracker.org" type="lsep"/>
        <setting id="rutracker_usesearch" type="bool" label="Search movie info at internet" default="false" />

        <setting label="LostFilm credentials" type="lsep"/>
        <setting id="lostfilm_login" type="text" label="Login" default="" />
        <setting id="lostfilm_passw" type="text" label="Password" option="hidden" default="" />

        <setting label="Torrents3D credentials" type="lsep"/>
        <setting id="t3d_login" type="text" label="Login" default="" />
        <setting id="t3d_passw" type="text" label="Password" option="hidden" default="" />

        <setting label="Rutracker credentials" type="lsep"/>
        <setting id="rutracker_login" type="text" label="Login" default="" />
        <setting id="rutracker_passw" type="text" label="Password" option="hidden" default="" />
    </category>
    <category label="Advanced">
        <setting label="XBMC Library Integration" type="lsep"/>
        <setting type="action" label="Install" action="RunPlugin(plugin://plugin.video.xbmctorrent/library/install)" />
        <setting type="action" label="Uninstall" action="RunPlugin(plugin://plugin.video.xbmctorrent/library/uninstall)" />

        <setting label="Maintenance" type="lsep"/>
        <setting type="action" label="Clear cache" action="RunPlugin(plugin://plugin.video.xbmctorrent/cmd/clear_cache)" />

        <setting label="Custom domains" type="lsep"/>
        <setting id="base_rutor" type="text" label="RuTor.org" default="http://rutor.org" />
        <setting id="base_eztv" type="text" label="EZTV" default="http://eztv.it" />
        <setting id="base_yify" type="text" label="YIFY Torrents" default="http://yts.re" />
        <setting id="base_kickass" type="text" label="Kickass Torrents" default="http://kickass.to" />
        <setting id="base_tpb" type="text" label="The Pirate Bay" default="http://thepiratebay.se" />
        <setting id="base_nyaa" type="text" label="NyaaTorrents" default="http://www.nyaa.se" />
        <setting id="base_bitsnoop" type="text" label="BitSnoop" default="http://bitsnoop.com" />
        <setting id="base_extratorrent" type="text" label="ExtraTorrent" default="http://extratorrent.cc" />
        <setting id="base_btdigg" type="text" label="BTDigg" default="http://btdigg.org" />

        <setting label="Google Analytics" type="lsep"/>
        <setting id="ga_disable" type="bool" label="Disable (except for index)" default="false" />

        <setting label="XBMC Android" type="lsep"/>
        <setting id="android_app_id" type="text" label="Custom Android Application ID" default="org.xbmc.xbmc" />
    </category>
</settings>
